body{
    background-color: #060606;
    background-image: url(../img/background-pizza.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px;
}
#Banner{

    
    background-color: rgba(0,0,0 ,.5); 
    height: 90px;
    padding: 30px 70px 30px 70px;
}

#Banner h1{
    float: left;
    margin: 0;
}

#Banner nav{
    float: right;
    position: relative;
    top: 30px;
    
}

#Banner nav ul li{

    display: inline-block;
    width: 100px;

}

#Banner ul{
    margin: 0px;
}

#Banner nav ul li  a{

    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; 
    font-size: 10px;
    font-weight: bolder;

}

#Sabores_Pizza h2{

    font-size: 32px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    line-height: 6;
    text-shadow: 2px -2px 15px #060606;
}

#Sabores_Pizza table{

    background-color: #2a2a2a;
    border-collapse: collapse   ;     
    margin: 0 auto ;
    width: 80%; 
}

#Sabores_Pizza table td,
#Sabores_Pizza table  th
{
    border: 1px #000 solid;
    padding: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

#Sabores_Pizza .texto-positivo{
    color: rgb(16, 196, 16);
}

#Sabores_Pizza .texto-negativo{
    color: red;
}

#copyright a{
    display: block;   
    text-align: center;
}
#copyright{
    background-color: #060606;
    padding: 35px 0px 10px 0px ;
}
#copyright p{
    color: white;
    text-align: center;
    font-size: 20px;

}
#Sabores_Pizza{
    padding-top: 400px;
    padding-bottom: 60px;
}

